python>=3.8
pandas
matplotlib
scikit-image
colorcet
Pillow
tqdm
pyqtwebengine
PySide2==5.15.2
PyQT5==5.12
pyqtgraph==0.12.4
PyOpenGL
PyOpenGL_accelerate
cython
neo
pylru==1.2.1
h5py==3.7.0
joblib
future==0.18.2
pyYAML==6.0