colorcet
appdirs
Pillow
pynwb
tqdm
PySide2
pyqt5
pyqtwebengine
pyqt5-sip
pyqtgraph
PyOpenGL
PyOpenGL_accelerate>=3.1.6 ; sys_platform == 'win32'
cython
neo
pylru==1.2.1
h5py==3.7.0
joblib
future==0.18.2
pyYAML==6.0
python-dateutil
seaborn
pytz
scipy
pandas
matplotlib
scikit-image
sklearn
numpy>=1.22,<1.24